.elementor-231 .elementor-element.elementor-element-1a90f3f .elementor-button {
  background-color: #12A650;
}

.elementor-231 .elementor-element.elementor-element-1a90f3f .elementor-button:hover {
  background-color: #057032;
}

.elementor-231 .elementor-element.elementor-element-3c89526 .elementskit-navbar-nav > li.current-menu-item > a {
  color: #12A650;
}

.elementor-231 .elementor-element.elementor-element-3c89526 .elementskit-navbar-nav > li.current-menu-ancestor > a {
    color: #12A650;
}

.elementor-231 .elementor-element.elementor-element-3c89526 .elementskit-navbar-nav .elementskit-submenu-panel > li:first-child > a {
    color: #12A650;
}